@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    align-items: center;
    background: url("../images/bg-system-view.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.container {
    position: relative;
    text-align: center;
}

.earth-btn {
    font-size: 20px;
    color: #ffffff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
    background-image: url("../images/earth.jpg");
    background-size: cover;
    background-position: center;
}

.sun-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: auto;
}

.sun-container {
    position: absolute;
    top: 120px;
}

#sun {
    position: absolute;
    background: url(../images/sun.png) no-repeat center;
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    margin: 6em auto;
    top: -100px;
    left: 1400px;
    transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
    transition: transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
#sun:hover {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg) scale(1.1);
}

.sun-text {
    position: absolute;
    left: -200%;
    top: 50%;
    transform: translateY(-50%) translateX(20px);
    opacity: 0;
    color: #FFD700;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

#sun:hover .sun-text {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
}